/*
    Misc fixes
*/

//Fix for Kbar Pliny background search button blur
//https://github.com/timlrx/pliny/blob/main/packages/pliny/src/search/KBarModal.tsx
//Limited CSS support so need to target the div somehow to fix the z-index
div[class*='backdrop-blur backdrop-filter'] {
  //Above the Homepage Video header
  @apply z-3;
}

//Prose style fixes using `prose dark:prose-invert` in HTML and Sas
//Docs: https://github.com/tailwindlabs/tailwindcss-typography
//https://github.com/tailwindlabs/tailwindcss/discussions/16232
//https://github.com/tailwindlabs/tailwindcss/discussions/15670
@utility prose {
  --tw-prose-headings: var(--color-typography-heading);
  --tw-prose-lead: var(--color-typography-default);
  --tw-prose-links: var(--color-typography-link);
  --tw-prose-bold: var(--color-typography-default);
  --tw-prose-pre-bg: var(--color-stone-900);

  //Dark mode colours
  --tw-prose-invert-headings: var(--color-typography-heading);
  --tw-prose-invert-lead: var(--color-typography-default);
  --tw-prose-invert-links: var(--color-typography-link);
  --tw-prose-invert-bold: var(--color-typography-default);
  --tw-prose-invert-pre-bg: var(--color-stone-800);
  --tw-prose-invert-code: var(--color-typography-white);
  --tw-prose-invert-pre-code: var(--color-typography-white);

  :where(:not(.not-prose, .not-prose *)) {
    //Anchors - Add different colours for other states
    &:where(a) {
      color: var(--tw-prose-links);

      &:hover {
        color: var(--color-typography-link-hover);
      }
      &:focus {
        color: var(--color-typography-link-focus);
      }
      &:visited {
        color: var(--color-typography-link-visited);
      }
    }
  }
}

//Fix to prevent Disqus colour scheme breaking the layout in dark mode
//Discussion: https://github.com/timlrx/tailwind-nextjs-starter-blog/issues/754#issuecomment-2317476300
//And further fixes as Disqus does not support `oklch` colours
// https://x.com/LeaVerou/status/1818632543706489073?mx=2
// https://github.com/disqus/disqus-react/issues/153
// https://jamesauble.com/blog/oklch-colors-workaround-for-disqus-embed-js/
:root {
    --color-white: #fff;                //These will be applied site-wide but unable to use another workaround
    --color-stone-950: #0c0a09;
    --color-typography-link: #7b281e;
}
#disqus_thread {
    @apply scheme-light!;

    > iframe {
        @extend .component-posts-article__comments;
        @apply p-0! rounded-none!;
    }
}