@import 'base/_base.scss';
@import 'utilities/_utilities.scss';
@import 'components/_components.scss';
@import 'plugins/_plugins.scss';

/*
    Fonts
*/
/*
.red-hat-text-<uniquifier> {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.brygada-1918-<uniquifier> {
    font-family: "Brygada 1918", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
*/

/*
    Core site layouts    
*/
.site {
  &-header {
    @apply mb-24 bg-primary text-white dark:bg-secondary-dark dark:text-white;

    > div {
      @apply flex items-stretch py-0;
    }

    &__logo {
      @apply block content-center p-3 hover:bg-primary hover:brightness-[110%] active:brightness-[80%] dark:hover:bg-primary-dark dark:hover:brightness-[110%] dark:active:brightness-[80%] lg:p-5;
    }

    &--homepage {
      @apply mb-0;
    }
  }

  &-main {
  }

  &-aside {
  }

  &-footer {
    @apply mt-24 bg-secondary text-center text-sm dark:bg-secondary-dark;

    a {
      @apply no-underline #{!important};
      @apply hover:underline #{!important};
    }

    &,
    a {
      @apply text-[#8e8e8e] #{!important};
      @apply dark:text-[#8e8e8e] #{!important};
    }
  }
}

.todo {
  border: 1px solid red #{!important};
}
