@use 'tailwindcss'; //Import Tailwind
@use '_vars.scss'; //Import custom theme variables
@source '../node_modules/pliny'; //Import Pliny
@custom-variant dark (&:where(.dark, .dark *)); //Custom dark mode variant

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.
  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  /* 
        Body 
    */
  body {
    @apply text-typography-default dark:text-typography-default bg-white text-base dark:bg-stone-950;

    //Fix for Disqus. The embed JavaScript does not like colours using the `oklch()` colour format, so add Hex values:
    @apply bg-[#fff] dark:bg-[#000]
  }

  /* 
        Anchor 
    */
  a {
    @apply underline underline-offset-4 hover:no-underline;
    @apply text-typography-link dark:text-typography-link; //Default and Dark default
    @apply visited:text-typography-link-visited; //Visited
    @apply hover:text-typography-link-hover; //Hover
    @apply focus:text-typography-link-focus; //Focus
    @apply dark:visited:text-typography-link-visited; //Dark: Visited
    @apply dark:hover:text-typography-link-hover; //Dark: Hover
    @apply dark:focus:text-typography-link-focus; //Dark: Focus
  }

  /* 
        Paragraphs 
    */
  p {
    @apply my-4 text-base;

    &:first-child {
      @apply mt-0;
    }

    &:last-child {
      @apply mb-0;
    }

    &.lead {
      @apply text-lg;
    }
  }

  /* 
        Lists 
    */
  ol,
  ul {
    @apply text-base;
  }

  /* 
        Headings 
    */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    //Default and Default link colours
    &,
    a {
      @apply text-typography-heading; //Default
      @apply dark:text-typography-heading; //Dark
    }

    a {
      @apply no-underline;
      @apply visited:text-typography-heading; //Visited / text-typography-link-visited
      @apply hover:text-typography-link-hover; //Hover
      @apply focus:text-typography-link-focus; //Focus
      @apply dark:visited:text-typography-heading; //Dark: Visited / text-typography-link-visited
      @apply dark:hover:text-typography-link-hover; //Dark: Hover
      @apply dark:focus:text-typography-link-focus; //Dark: Focus
    }
  }

  h1 {
    @apply my-6 text-4xl;
  }

  h2 {
    @apply my-5 text-3xl;
  }

  h3 {
    @apply my-4 text-2xl;
  }

  h4 {
    @apply my-3 text-xl;
  }

  h5 {
    @apply my-2 text-lg;
  }

  h6 {
    @apply my-1 text-base;
  }

  /* 
        Code blocks
    */
  code,
  pre {
    @apply font-mono;
    @apply font-normal!;
    @apply text-lg!;
  }
  pre code {
    @apply text-sm!;
  }

  /* 
        Horizontal rule 
    */
  hr,
  .prose-hr {
    @apply border-2 border-t-0 border-r-0 border-l-0;
    @apply border-gray-200!;
    @apply dark:border-gray-900!;
  }

  /* 
        Grid
    */
  .grid {
    @apply grid-cols-12 gap-6;
    /* Default gap and columns in grids */
  }

  /*
        Core site layouts    
    */
  .site {
    &-header {
      @apply bg-primary-600 dark:bg-secondary-950 mb-4 text-white md:mb-24 dark:text-white;

      > div {
        @apply flex items-stretch py-0;
      }

      &__logo {
        @apply hover:bg-primary-600 dark:hover:bg-primary-500 block content-center p-3 hover:brightness-[110%] active:brightness-[80%] lg:p-5 dark:hover:brightness-[80%] dark:active:brightness-[85%];
      }

      &--homepage {
        @apply mb-0;
      }

      &--sticky {
        @apply bg-primary-600 dark:bg-secondary-950 text-white;
      }
    }

    &-main {
    }

    &-aside {
    }

    &-footer {
      @apply bg-secondary-900 dark:bg-secondary-950 mt-24 text-center text-sm;

      a {
        @apply no-underline!;
        @apply hover:underline!;
      }

      &,
      a {
        @apply text-secondary-300/70!;
        @apply dark:text-secondary-300/70!;
      }
    }
  }
}
