/* Core theme configuration */
@theme {
    /* 
        Fonts 
    */
    /*
    .red-hat-text-<uniquifier> {
        font-family: "Red Hat Text", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }

    .brygada-1918-<uniquifier> {
        font-family: "Brygada 1918", serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
    */
    --font-sans: var(--font-redHatText), "sans-serif"; //`--font-redHatText` is a custom font from Google fonts and the var is set in `app/layout.tsx`
    --font-serif: var(--font-brygada1918), "serif"; //`--font-brygada1918` is a custom font from Google fonts and the var is set in `app/layout.tsx`
    --font-mono: 'ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;';

    /* 
        Breakpoints 
    */
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
    --breakpoint-xl: 1440px;

    /* 
        Colours 
    */
    --color-transparent: transparent;
    --color-current: currentColor;
    --color-white: #ffffff;
    --color-black: #000000;

    //Default TailWind `Green` colours - https://tailwindcss.com/docs/customizing-colors
    --color-green-50: oklch(0.982 0.018 155.826);
    --color-green-100: oklch(0.962 0.044 156.743);
    --color-green-200: oklch(0.925 0.084 155.995);
    --color-green-300: oklch(0.871 0.15 154.449);
    --color-green-400: oklch(0.792 0.209 151.711);
    --color-green-500: oklch(0.723 0.219 149.579);
    --color-green-600: oklch(0.627 0.194 149.214);
    --color-green-700: oklch(0.527 0.154 150.069);
    --color-green-800: oklch(0.448 0.119 151.328);
    --color-green-900: oklch(0.393 0.095 152.535);
    --color-green-950: oklch(0.266 0.065 152.934);

    //Default TailWind `Red` colours - https://tailwindcss.com/docs/customizing-colors
    --color-red-50: oklch(0.971 0.013 17.38);
    --color-red-100: oklch(0.936 0.032 17.717);
    --color-red-200: oklch(0.885 0.062 18.334);
    --color-red-300: oklch(0.808 0.114 19.571);
    --color-red-400: oklch(0.704 0.191 22.216);
    --color-red-500: oklch(0.637 0.237 25.331);
    --color-red-600: oklch(0.577 0.245 27.325);
    --color-red-700: oklch(0.505 0.213 27.518);
    --color-red-800: oklch(0.444 0.177 26.899);
    --color-red-900: oklch(0.396 0.141 25.723);
    --color-red-950: oklch(0.258 0.092 26.042);

    //Default TailWind `Gray` colours - https://tailwindcss.com/docs/customizing-colors
    --color-gray-50: oklch(0.985 0.002 247.839);
    --color-gray-100: oklch(0.967 0.003 264.542);
    --color-gray-200: oklch(0.928 0.006 264.531);
    --color-gray-300: oklch(0.872 0.01 258.338);
    --color-gray-400: oklch(0.707 0.022 261.325);
    --color-gray-500: oklch(0.551 0.027 264.364);
    --color-gray-600: oklch(0.446 0.03 256.802);
    --color-gray-700: oklch(0.373 0.034 259.733);
    --color-gray-800: oklch(0.278 0.033 256.848);
    --color-gray-900: oklch(0.21 0.034 264.665);
    --color-gray-950: oklch(0.13 0.028 261.692);

    //Default TailWind `Stone` colours - https://tailwindcss.com/docs/customizing-colors
    --color-stone-50: oklch(0.985 0.001 106.423);
    --color-stone-100: oklch(0.97 0.001 106.424);
    --color-stone-200: oklch(0.923 0.003 48.717);
    --color-stone-300: oklch(0.869 0.005 56.366);
    --color-stone-400: oklch(0.709 0.01 56.259);
    --color-stone-500: oklch(0.553 0.013 58.071);
    --color-stone-600: oklch(0.444 0.011 73.639);
    --color-stone-700: oklch(0.374 0.01 67.558);
    --color-stone-800: oklch(0.268 0.007 34.298);
    --color-stone-900: oklch(0.216 0.006 56.043);
    --color-stone-950: oklch(0.147 0.004 49.25);

    //Custom brand `primary` colours
    --color-primary-50: #fcf5f4;
    --color-primary-100: #f9e9e7;
    --color-primary-200: #f4d6d3;
    --color-primary-300: #ecbbb5;
    --color-primary-400: #df938a;
    --color-primary-500: #d06e63;
    --color-primary-600: #af4c41;
    --color-primary-700: #9c4339;
    --color-primary-800: #823a32;
    --color-primary-900: #6d352f;
    --color-primary-950: #3a1915;

    //Custom brand `secondary` colours
    --color-secondary-50: #f4f6f7;
    --color-secondary-100: #e3e7ea;
    --color-secondary-200: #cad2d7;
    --color-secondary-300: #a5b1bb;
    --color-secondary-400: #798997;
    --color-secondary-500: #5d6e7d;
    --color-secondary-600: #505c6a;
    --color-secondary-700: #454e59;
    --color-secondary-800: #3e444c;
    --color-secondary-900: #2f3339;
    --color-secondary-950: #21252b;

    //Custom brand `typography` colours
    --color-typography-heading: #141c3a;
    --color-typography-default: #313a59;
    --color-typography-link: #7b281e;
    --color-typography-link-hover: #cb574a;
    --color-typography-link-focus: #a03f33;
    --color-typography-link-visited: #7b281e;

    /* 
        Line heights 
    */
    /*
    --line-height-11: 2.75rem;
    --line-height-12: 3rem;
    --line-height-13: 3.25rem;
    --line-height-14: 3.5rem;
    */

    /* 
        Z-Index values 
    */
    --z-1: 1;
    --z-2: 2;
    --z-3: 3;
    --z-10: 10;
    --z-50: 50;

    /* 
        Font weights 
    */
    //--font-weight-thin: 100;
    //--font-weight-hairline: 100;
    //--font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    //--font-weight-extrabold: 800;
    //--font-weight-'extra-bold': 800;
    //--font-weight-black: 900;

    /* 
        Font sizes 
    */
    --text-xs: 0.9rem;
    --text-xs--line-height: 1.35rem;
    --text-sm: 1rem;
    --text-sm--line-height: 1.45rem;
    --text-base: 1.125rem;
    --text-base--line-height: 1.65rem;
    --text-lg: 1.28rem;
    --text-lg--line-height: 1.82rem;
    --text-xl: 1.4rem;
    --text-xl--line-height: 1.9rem;
    --text-2xl: 1.5rem;
    --text-2xl--line-height: 2rem;
    --text-3xl: 1.875rem;
    --text-3xl--line-height: 2.25rem;
    --text-4xl: 2.25rem;
    --text-4xl--line-height: 2.5rem;
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --text-6xl: 3.75rem;
    --text-6xl--line-height: 1;
    --text-7xl: 4.5rem;
    --text-7xl--line-height: 1;
    --text-8xl: 6rem;
    --text-8xl--line-height: 1;
    --text-9xl: 8rem;
    --text-9xl--line-height: 1;

    /* 
        Spacing 
    */
    --spacing-128: 32rem;
    --spacing-144: 36rem;
}

@layer theme {
    [class~="dark"] {
        --color-typography-heading: #e3e8ed;
        --color-typography-default: #f0f8ff;
        --color-typography-link: #cb574a;
        --color-typography-link-hover: #db6a5e;
        --color-typography-link-focus: #ce6054;
        --color-typography-link-visited: #cb574a;
    }
}