@layer components {
  .hero {
    @apply relative flex items-center justify-center overflow-hidden bg-cover bg-center bg-no-repeat before:absolute before:z-[1] before:h-full before:w-full;

    &__container {
      @apply relative z-[2] flex justify-center md:justify-start;
    }

    &__content,
    &__title {
      @apply text-white #{!important};
    }

    &__content {
      @apply dark:text-typography-default-dark #{!important};
      @apply content-center py-5 text-center md:text-left;
    }

    &__title {
      @apply dark:text-typography-heading-dark #{!important};
      @apply mt-0;
      @apply mb-5;

      &:last-child {
        @apply mb-0;
      }
    }

    /*
            Page
        */
    &--page {
      @apply min-h-[280px] before:bg-primary-600/50 dark:before:bg-secondary-950/35;
      background-image: url('/cdn-cgi/image/width=2000,quality=75,format=webp/static/img/page-header-bg@1x.jpg');
      background-image: image-set(
        url('/cdn-cgi/image/width=2000,quality=75,format=webp/static/img/page-header-bg@1x.jpg') 1x,
        url('/cdn-cgi/image/width=2000,quality=75,format=webp/static/img/page-header-bg@1.8x.jpg') 1.8x
      );
    }

    /*
            Video
        */
    &--video {
      @apply h-screen min-h-[350px] before:bg-stone-500/15 dark:before:bg-secondary-950/35 md:h-[65vh];

      .hero__content {
        @apply px-5 text-3xl;
      }

      .hero__title {
        @apply text-6xl;
      }

      .hero__video {
        &-wrapper {
          @apply absolute h-full w-auto min-w-full max-w-none;
        }

        &-object {
          @apply h-full w-full object-cover;
        }

        &-poster {
          @apply h-full w-full object-cover;

          //Amend the `shadow-root part: poster img` to target the image styling of the Media Chrome element https://stackoverflow.com/questions/75571798/overriding-css-of-div-inside-a-shadow-root
          &::part(poster img) {
            max-width: unset;
          }
        }
      }
    }
  }
}
